.footer
  background-color #343434
  display flex
  justify-content space-evenly
  +below($mobile)
    flex-wrap wrap
  .firstb
    margin 30px
    text-align justify
    +below($mobile)
      margin 10px 30px
    h6 
      lato 15
      color white
      padding 20px 0
    p
      muli 13
      color white
      padding-bottom 20px
  .secondb
    margin 30px
    max-width 260px
    +below($mobile)
      margin 10px 30px
    p
      lato 17
      color white
      font-weight 900
      margin 20px 0
      +below($mobile)
        lato 15