.inicial
  position: relative

.banner
  background-color: rgba(0, 0, 0, 0.6)
  width: 100%
  position: absolute
  z-index: 200
  img
    width: 252px
    height: auto
    display: block
    margin-left: auto
    margin-right: auto
    padding-top: 86px
  h1 
    lato 50
    color white
    font-weight 900
    margin-top 86px
    margin-left 25%
  h2 
    font-family: 'Montserrat'
    color white
    font-size 37px
    margin-top 20px
    margin-left 25%
  .mainbutton
    margin-top 80px
    margin-bottom 80px
    margin-left 25%
    border-radius 4px
    background-color $verde
    color white
    width: 317px
    height: 55px
    p
      muli 19
      text-transform uppercase
      letter-spacing 0.5px
      text-align: center
      padding-top: 13px
    


.total
  div:nth-child(even)
    background: red
    width: 400px
    height: 300px
  div:nth-child(odd) 
    background: green
    width: 100px
    height: 100px

