.center
  background-color #516e04
  padding 50px 30px
  
  .box_card
    background-color white
    border-radius 10px
    padding 10px
    margin-left auto
    margin-right auto
    max-width 80%
    margin-top 40px
    margin-bottom 25px
    box-shadow 1px 1px 20px 6px #324500
    &:hover
      box-shadow 1px 1px 20px 10px #658a04
    a  
      display flex
      .card_img  
        padding-top 5px
        padding-left 5px
        img  
          border-radius 10px
      .card_text
        padding 15px 50px
        h1 
          muli 29
        p     
          lato 17
          margin-top 15px