.projetos-show
  background-color #506e04
  .center
    text-align center
    img  
      margin 5px
      height 75%
      border 2px solid white

.btn_back
  background-color white
  margin-top 30px
  border-radius 4px
  color #506e04
  width 211px
  height 46px

        

      