.center
  background-color #506e04
  .flex
    display flex
    justify-content space-evenly
    padding 30px 0
    +below($tablet)
      flex-wrap wrap
    h2
      lato 49
      color #fff
      padding-top 80px
      +below($mobile)
        lato 30
        text-align center
    img 
      padding 20px
  .text
    muli 18
    color #fff
    width 70%
    margin-right auto
    margin-left auto
    text-align justify
    padding-bottom 60px
    +below($tablet)
      muli 16
      width 80%
    +below($mobile) 
      muli 14
      width 90%
    
  .termos
    padding 30px 0
    background-color #f4f4f4
    h1
      lato 49
      color #506e04
      padding 40px 0
      text-align center
      +below($mobile)
        lato 30
        text-align center
    p, li
      muli 18
      color #506e04
      width 70%
      margin-right auto
      margin-left auto
      text-align justify
      +below($tablet)
        muli 16
        width 80%
      +below($mobile) 
        muli 14
        width 90%
    h2, h3
      muli 20
      color #506e04
      width 70%
      margin-right auto
      margin-left auto
      text-align justify
      +below($tablet)
        muli 18
        width 80%
      +below($mobile) 
        muli 16
        width 90%